@import "./mocha.css";

* {
  font-family: BerkeleyMono Nerd Font Mono;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

#workspaces label {
  font-family: BerkeleyMono Nerd Font Mono;
  font-size: 16px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  /* background-color: @surface; */
  margin-left: 1rem;
}

#workspaces button {
  background-color: @surface;
  color: @text;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.active {
  background-color: @rosepinerose;
  color: black;
  border-radius: 1rem;
}

#workspaces button.visible {
  background-color: @rosepinerose;
  color: black;
  border-radius: 1rem;
}

#workspaces button.empty {
  background-color: @rosepinerose;
  color: black;
  border-radius: 1rem;
}

#workspaces button.urgent {
  background-color: @rosepinelove;
  color: @text;
  border-radius: 1rem;
}

#workspaces button:hover {
  font-family: BerkeleyMono Nerd Font Mono;
  background: @rosepinerose;
  color: black;
  border-radius: 1rem;
  border-color: @rosepinerose;
}

#tray,
#cpu,
#memory,
#backlight,
#clock,
#pulseaudio,
#custom-notification,
#idle_inhibitor,
#language {
  background-color: @surface;
  color: @text;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  border-radius: 1rem;
  margin-right: 1rem;
}

#pulseaudio {
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#cpu {
  margin-right: 1rem;
  border-radius: 1rem;
}

#memory {
  margin-right: 1rem;
  border-radius: 1rem;
}

#language {
  border-radius: 1rem;
}

#custom-notification {
  font-family: "BerkeleyMono Nerd Font Mono";
  font-size: 18px;
  margin-right: 1rem;
  border-radius: 1rem;
}

#idle_inhibitor {
  margin-right: 1rem;
  border-radius: 1rem;
  font-size: 18px;
}

#window {
  margin-left: 1rem;
  color: @text;
}
