@import "./mocha.css";

* {
  font-family: BerkeleyMono Nerd Font Mono;
  font-size: 14px;
  min-height: 0;
}

#waybar {
  background-color: shade(@base, 0.9);
  border: 2px solid alpha(@crust, 0.3);
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @surface0;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
}

#workspaces button.focused {
  background-color: @mauve;
  color: black;
  border-radius: 1rem;
}

#workspaces button:hover {
  background-color: @mauve;
  color: black;
  border-radius: 1rem;
}

#workspaces button.urgent {
  color: @red;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power,
#custom-notification,
#idle_inhibitor,
#language {
  background-color: @surface0;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#clock {
  border-radius: 1rem;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#pulseaudio {
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  margin-right: 1rem;
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#language {
  border-radius: 1rem;
}

#custom-notification {
  font-family: "BerkeleyMono Nerd Font Mono";
  font-size: 18px;
  margin-right: 1rem;
  border-radius: 1rem;
}

#idle_inhibitor {
  margin-right: 1rem;
  border-radius: 1rem;
  font-size: 18px;
}

#window {
  margin-left: 1rem;
}
